<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ('partials/head') %>
    <title><%= title%></title>
</head>
<body>
    <%- include ('partials/navigation') %>
   <main class="container vh-100 pt-2 text-center d-flex justify-content-center  align-items-center ">
    <section>
        <h1 class="display-1 d-flex  justify-content-center  align-items-center ">About</h1>
        <p class="d-flex justify-content-center "> Desarrolladora de software me especializo en la creación, diseño, implementación y mantenimiento de programas informáticos o aplicaciones para satisfacer  necesidades específicas. Trabajan estrechamente con los clientes para entender sus requisitos y objetivos comerciales, convirtiéndolos en soluciones funcionales y eficientes. Pueden especializarse en áreas como desarrollo web, empresarial o a medida, utilizando una variedad de tecnologías y lenguajes de programación. Además del desarrollo inicial, proporciono servicios de mantenimiento y soporte continuo, incluyendo actualizaciones, correcciones de errores y optimización de rendimiento. </p>
    </section>
   </main>
    <%- include ('partials/footer') %>
    
</body>
</html>




