<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ('partials/head') %>
    <title><%= title%></title>
</head>
<body>
    <%- include ('partials/navigation') %>
   <main class="container vh-100 pt-2 text-center d-flex justify-content-center  align-items-center ">
    <section>
        <h1 class="display-1 d-flex  justify-content-center  align-items-center ">HOBBIES</h1>
        <p class="d-flex justify-content-center ">!Tu salud es tu mayor riqueza! Cultiva hábitos saludables como si fueran tus hobbies diarios, y verás cómo cada pequeña elección que haces te acerca a una vida plena y satisfactoria. </p>
    </section>
   </main>
   <div class="container vh-100  d-flex  justify-content-center  align-items-center ">
    <div class="card bg-dark text-white text-center">
        <div class="card-header">
            <h3></h3>
        </div>
        <div class="card-body text-start">
            
                <div class="mb-3">
                    <label for="leer">Leer</label>
                   
                </div>
                <div class="mb-3">
                    <label for="mensaje">Correr</label>
                    
                </div>
                
            
        </div>
    </div>
 </div>

    <%- include ('partials/footer') %>
    
</body>
</html>