<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <%- include ('partials/head') %>
    <title><%= title%></title>
</head>
<body>
    <%- include ('partials/navigation') %>
   

    <!--Main Content-->

    <header class="container vh-100 d-flex justify-content-center align-items-center">
        <div class="d-flex flex-column  justify-content-center align-items-center">
        <img src="/img/cacas.png" alt="logo" class="w25">
        <h1 class="display-1 my-5 text-uppercase fw-bold ">Eileen Cano</h1>
        <p class="h5">¡Bienvenidos!</p>
        <a href="/about" class="btn btn-primary w-25">About Me</a>
    </div>
    </header>
    
    <%- include ('partials/footer') %>
</body>
</html>
