<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ('partials/head') %>
    <title><%= title%></title>
</head>
<body>
    <%- include ('partials/navigation') %>
   <main class="container vh-100 pt-2 text-center d-flex justify-content-center  align-items-center ">
    <section>
        <h1 class="display-1 d-flex  justify-content-center  align-items-center ">PROJECTS</h1>
        <p class="d-flex justify-content-center ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt temporibus libero suscipit explicabo minus animi dolore aut enim! Hic vel eos perspiciatis. Sunt odio similique non ab porro iste magnam.</p>
    </section>
   </main>
    <%- include ('partials/footer') %>
    
</body>
</html>