<footer class="bg-dark text-center p-4 ">
    <p class="h4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae ratione asperiores aut ducimus! Ab consectetur, esse velit quaerat dignissimos pariatur voluptatem aperiam consequuntur, qui non eveniet natus? Iusto, fuga sit.</p>
</footer>
